@charset "utf-8";

/* 00. font - 구글폰트에서 Montserrat 300/400/600 가져옴 */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600&family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;600&display=swap');

/* 00. Reset */
* {margin: 0;padding: 0;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, tbody, tfoot, thead, tr, th, td{margin:0;padding:0;}
a {color: inherit; text-decoration: inherit;}
li {list-style: none;}
address, em, i {font-style: normal;}
button {background: none; border: none;}
img {vertical-align: middle;}

body {
    font-weight: 'RaleWay', sans-serif; font-size: 16px; letter-spacing: -0.01em;
}

.wrap {
    position: relative;
    margin: 0 auto;
    background-color: #141212;
    color: #fff;
    padding-bottom: 1000px;
}

header {
    position: fixed;
    z-index: 9999;
    width: 100%;
}
header .inner {padding: 30px 50px 0;}

header .inner .logo {
    display: flex;
    justify-content: space-between;
    width: 150px;
}

header .inner .logo span {padding: 0 1px;}
header .inner .logo span img {width: 100%;}

header .gnb {text-align: center;}
header .gnb .menuOpen {
    font-size: 10px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 10px;
    padding: 30px 0;
    z-index: 10;
    cursor: pointer;
}
header .gnb .menuOpen:before {
    content: "";
    width: 150px;
    height: 5px;
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: 15px;
    transform: translateX(-50%);
    border-radius: 30px;
    transition: all 0.3s;
}

header .gnb .menuOpen:hover:before {
    width: 165px;
}

header .gnb .menuBox {
    width: 99%; 
    position: absolute; 
    left: 50%; 
    transform: translateX(-50%); 
    top: -1000%; 
    background-color: rgba(55, 55, 55, 0.4);
    backdrop-filter: blur(30px);
    border-radius: 5px;
    padding: 100px 0 30px;
    box-sizing: border-box;
    transition: all 1.5s;
}

header .gnb .menuBox li {overflow: hidden;}
header .gnb .menuBox li a {
    display: block; 
    font-size: 40px; 
    transform: translateY(-100px);
    transition: all 0.6s;
}

header .gnb .menuBox.on {
    top: 10px;
    transition: all 0.4s;
}

header .gnb .menuBox.on li a {
    transform: translateY(0px);
}

header .gnb .menuBox.on li:nth-child(2) a {transition-delay: 0.05s;}
header .gnb .menuBox.on li:nth-child(3) a {transition-delay: 0.1s;}
header .gnb .menuBox.on li:nth-child(4) a {transition-delay: 0.15s;}

.visual{}
.visual .inner {
    display: grid;
    height: 100vh;
    padding: 25px 50px 25px;
    box-sizing: border-box;
    grid-template-rows: auto 1fr auto;
}
.visual .inner .mainText {
    max-width: fit-content;
    font-weight: normal;
    font-size: 80px;
    margin-left: auto;
    line-height: 0.9;
    letter-spacing: -2px;
}
.visual .inner .mainText span {
    display: block;
    overflow: hidden;
}

.visual .inner .mainText span i {
    display: block;
}

.visual .inner .logoWrap {
    display: flex;
    justify-content: space-between;
}

.visual .inner .subText {
    font-size: 20px;
    font-weight: normal;
    align-self: flex-end;
    margin-bottom: 50px;
}

.visual .inner .subText span {color: #585858; }

.visual .inner .logoWrap span {width: 16%;}
.visual .inner .logoWrap span img {width: 100%;}